.image-carousel{
  max-height: 600px;
}
.image-carousel-item{
  height: 100%;
}

.product-image{
  height: 150px;
  width: 150px;
  background: grey;
  border-radius: 50%;
  margin:0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.product-image-1{
  background-image: url("../assets/bridge.jpg");
}
.product-image-2{
  background-image: url("../assets/rock.jpg");
}
.product-image-3{
  background-image: url("../assets/snow.jpg");
}

.row-style {
  height: 100px;
  border:1px solid #333;
}

.col-style{
  height:100%;
 
  border:1px solid #333;
  box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
  inset: -1px -1px 0 0 #ccc;
  margin-bottom: 1.5rem!important;
  /* margin-right:15px;
  margin-left:15px; */
  -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  
}

.feature-img-box{
  height: 500px;
  width: 100%;
}
.feature-img-box img{
  height: 100%;
  width:100%
}
p{
  align:center
}

btn-outline-primary{
  color: #007bff;
  background-color:transparent;
  background-image: none;
  border-color:#007bff
}




.container-style{
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

